<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
    connectionString="Data Source=KO-DCON-001\SQL2008R2;Initial Catalog=PKBQE2016;User Id=sa;Password=iaf349;"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>